---
layout: layout.njk
permalink: 404.html
noindex: true
---

<section class="text-center">
  <h2 class="headline">Alas, this page doesn't seem to exist.</h2>

  <img src="/images/nothing-to-see.gif" alt="Nothing to see"/>
  <p>Head back to the <a href="/">home page</a> or try again.</p>
</section>
