0.0.0.0:{$PORT} {
  git https://github.com/pietvanzoen/pietvanzoen.com.git {
    path /site
    branch dist
    interval 300
    clone_args --depth=1
    then git clean -fd
  }

  root /site
  tls off
  log / stdout "{combined}"
  gzip
  errors stderr {
    404 404.html
  }

  rewrite /feed /feed.xml

  redir 302 {
    /blog/archive/ /blog/
  }

  header /images Cache-Control "max-age=86400"
  header /stylesheets Cache-Control "max-age=86400"
  header /fonts Cache-Control "max-age=86400"
  header /cached Cache-Control "max-age=86400"
}
