---
layout: default
redirect_from:
  - /photos/
  - /projects/
  - /links/
  - /portfolio/
  - /blog/
---


<article class="text-large">
{% include about.html %}
</article>

<hr>

{% for post in site.posts limit:5 %}
<article class="post">
	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<time>{{ post.date | date_to_string }}</time>
	{% if post.unsplash_img_id %}
	<a href="{{ post.url }}"><img class="img_right img_circle" src="https://source.unsplash.com/{{ post.unsplash_img_id }}/260x260" style="min-width: 100px; width: 18vw; max-width: 130px" alt=""></a>
	{% endif %}
	{{ post.excerpt | markdownify }}
</article>
<hr>
{% endfor %}

<section>
	<a href="/blog/archive">Older posts</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/feed.xml">RSS</a>
</section>
