---
permalink: /robots.txt
noindex: true

---
Sitemap: {{ site.url }}/sitemap.xml

User-agent: *
{%- if site.isProduction -%}
{% for page in collections.noindex %}
Disallow: {{ page.url }}
{%- endfor -%}
{% else %}
Disallow /
{%- endif -%}

User-agent: GPTBot
Disallow: /
