---
layout: layout.njk
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{ tag | slug }}/
---
<h1 class="headline">Tagged “{{ tag }}”</h1>

<ul>
{% set taglist = collections[ tag ] %}
{% for post in taglist | reverse %}
  <li><a href="{{ post.url | url }}">{{ post.data.title }}</a></li>
{% endfor %}
</ul>

<br>
<a href="/tags">All tags</a>
