:root {
  --accent-color: #619F98;
  --text-color: #222;
  --subtle-color: #eee;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea,
html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
}

h1, h2, h3, h4 {
  font-weight: normal;
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
}
.img-right {
  margin: 0 0 1em 1em;
  float: right;
}
.img-circle {
  border-radius: 50%;
}

figure {
  padding: 0;
  margin: 1em 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--subtle-color);
  margin: 2em 0;
  padding: 0;
  clear: both;
}

p {
  margin: 1em 0;
}
p:first-child, p:last-child {
  margin: 0;
}

a {
  color: var(--text-color);
  border-bottom: 1px solid var(--accent-color);
}
a:hover {
  color: var(--accent-color);
}

a[class*="icon-"] {
  padding: 0.2em;
  line-height: 1;
  border-bottom: none;
}
a[class*="icon-"]:before {
  vertical-align: middle;
}

a, a:hover {
  text-decoration: none;
}

.hide {
  display: none;
}

.center {
  text-align: center;
}

.header h1 {
  font-size: 1.6em;
  margin: 0;
}

@media screen and (min-width: 700px) {
  .header h1 {
    font-size: 2em;
  }
}

.header h1 a {
  color: var(--accent-color);
  font-weight: 300;
  border-bottom: none;
}
.header h1 a:hover {
  color: var(--text-color);
}

.header nav {
  text-align: right;
}

.header {
  border-bottom: 1px solid var(--subtle-color);
  margin: 0 0 2em 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1em;
}
.header > * {
  display: flex;
  align-items: center;
}

.main {
  width: 740px;
  max-width: 100%;
  padding: 0 1em;
  margin: 0 auto;
}

.footer {
  margin-top: 3em;
  padding: 2em 0 2em;
  font-size: 0.8em;
  text-align: center;
  border-top: 1px solid var(--subtle-color);
}

h1 + time {
  margin-top: -1em;
  display: block;
}

pre {
  padding: 1em;
  overflow: scroll;
  border-radius: 0.5em;
  border: 1px solid var(--subtle-color);
}

code {
  background-color: #F8F8F8;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

code, kbd, pre, samp {
  font-family: 'Inconsolata', monospace;
}

/* RINGS */

.rings {
  width: 1em;
  height: 1em;
  position: relative;
  margin-right: 0.2em;
}

@keyframes rotate {
  0%   { transform: rotate(0deg) translate(-50%, -50%); }
  100% { transform: rotate(360deg) translate(-50%, -50%); }
}

.ring {
  border: 2px solid var(--accent-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0% 0%;
  animation-name: rotate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.ring__speed_fast {
  animation-duration: 3s;
}
.ring__speed_normal {
  animation-duration: 6s;
}
.ring__speed_slow {
  animation-duration: 9s;
}

.ring__reverse {
  animation-direction: reverse;
}
.ring-1 {
  width: 20%;
  height: 20%;
}
.ring-2 {
  width: 40%;
  height: 40%;
}
.ring-3 {
  width: 60%;
  height: 60%;
}
.ring-4 {
  width: 80%;
  height: 80%;
}
.ring-5 {
  width: 100%;
  height: 100%;
}

.ring__1-2 {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ring__3-4 {
  border-top-color: transparent;
}
.ring__1-4 {
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
}
