@import "normalize";
@import "base";

li {
  margin-bottom: 0.5em;
}
blockquote {
  font-style: italic;
  border-left: 3px solid var(--subtle-color);
  margin: 1em 0;
  padding: 0 1em;
}

img {
  max-width: 100%;
  height: auto;
}
.img-right {
  margin: 0 0 1em 1em;
  float: right;
}
.img-left {
  margin: 0 1em 1em 0;
  float: left;
}
.img-center {
  display: block;
  margin: 1em auto;
}
.img-circle {
  border-radius: 50%;
}

.post-header-img {
  padding: 0;
  margin: 1em -2em;
}

.post-header-img img {
  display: block;
}
.post h2 {
  border-bottom: 1px solid var(--subtle-color);
}

figcaption {
  font-size: 0.8em;
  padding: 0 2em;
  text-align: right;
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--subtle-color);
  margin: 2em 0;
  padding: 0;
  clear: both;
}


.hide {
  display: none;
}

.center {
  text-align: center;
}

.header .header-xl {
  //font-size: 1.6em;
  margin: 0 0 0.2em;
}

.header {
  border-bottom: 1px solid var(--subtle-color);
}

.header-content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0.8em 3% 1em;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .header .header-xl {
    font-size: 2em;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .header-content > * {
    display: flex;
    align-items: center;
  }
}

.header .header-xl a {
  color: var(--accent-color);
  fill: var(--accent-color);
  border-bottom: none;
  transition: color ease-in-out 0.1s;
}
.header .header-xl a:hover {
  color: var(--text-color);
  fill: var(--text-color);
}
.header .header-xl svg {
  height: 1em;
  width: auto;
  vertical-align: text-top;
  transition: all ease-in-out 0.2s;
}
.header .header-xl a:hover svg {
  transform: rotate(20deg);
}

.site-nav {
  font-size: 0.8em;
  text-align: center;
}

.site-nav a {
  display: inline-block;
  margin: 0 0.5em;
}
.site-nav a.active {
  color: var(--text-color);
  border-color: transparent;
}

.blurb-img {
  margin: 0 auto 1em;
  text-align: center;
}

@media screen and (min-width: 550px) {
  .blurb {
    display: flex;
    align-items: center;
    flex-wrap: row wrap;
    justify-content: center;
    flex-direction: row-reverse;
  }
  .blurb-img {
    margin: 0 0 0 1em;
  }
}

.main {
  width: 740px;
  max-width: 100%;
  padding: 2em 1em 4em;
  margin: 0 auto;
  overflow: hidden;
}
.main h1:first-child {
  margin-top: 0;
}

.footer {
  position: relative;
  padding: 3em 1em;
  font-size: 0.8em;
  text-align: center;
  background-color: #45736d;
}
.footer,
.footer a {
  color: #eee;
  border-bottom-color: transparent;
}
.footer a svg {
  fill: #eee;
}
.footer a:hover {
  color: #7fd6c7;
}
.footer a:hover svg {
  fill: #7fd6c7;
}

.article-meta {
  font-family: "Source Sans Pro", sans-serif;
  color: var(--muted-color);
  display: block;
  font-size: 0.8em;
}

div.highlight {
  background-color: transparent;
}

.card, .twitter-tweet {
  display: block;
  border: 1px solid #eee;
  border-radius: 0.2em;
  padding: 1em;
}

@media screen and (min-width: 700px) {
  .update-link {
    display: flex;
    flex-wrap: nowrap;
  }

  .update-link__image {
    display: inline-block;
    max-width: 30%;
    margin: auto 1em;
  }
}

.update-item {
  background: #fcfcfc;
}
.update-link {
  background: #fff;
}
.update-link:hover {
  border-color: var(--accent-color);
}

.update-meta {
  font-size: 0.8em;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--muted-color);
  display: flex;
  justify-content: space-between;
}

.update-meta__sources {
  text-align: right;

}


.icon-link {
  display: inline-block;
  margin: 0.5em;
  line-height: 1;
}
.icon-link svg {
  height: 1em;
  width: auto;
  vertical-align: -webkit-baseline-middle;
}
.icon-link svg,
.icon-link a {
  vertical-align: baseline;
}

.nudge-up {
  margin-top: -0.8em;
}

.buffer-top-large {
  margin-top: 2em;
}
.buffer-bottom {
  margin-bottom: 1em;
}
.buffer-off {
  margin: 0;
}
.intro-text {
  font-size: 1.2em;
  line-height: 1.6;
}
.vim-footer,
.vim-nav {
  display: none !important;
}

.pagination {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.8em;
  color: var(--muted-color);
  display: flex;
  justify-content: center;
  margin: 2em 0;
  > * {
    padding: 0 1em;
  }
}
.pagination-pages {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: inline;
    padding: 0 0.2em;
  }
}

.twitter-tweet {
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
