{% if include.img_width %}
{% assign img_width = include.img_width %}
{% else %}
{% assign img_width = 180 %}
{% endif %}
<img src="/assets/images/piet_sqr.jpg" class="img_right img_circle js_about_img" alt="" style="min-width: {{ img_width | times: 0.667 }}px; width: 20vw; max-width: {{ img_width }}px">
<p>Soon to be at <a href="https://usabilla.com">Usabilla</a>, previously at <a href="https://cozy.co">Cozy</a> and <a href="http://thedaylightstudio.com/">Daylight Studio.</a> I'm a web developer who's addicted to functional-programming, test driven development, my greyhound Django, my wife <a href="https://twitter.com/girl_keven">Keven</a>, and fries with mayo.</p>
