{% if backlinks.length > 0 %}
<h3>Backlinks</h3>
<ul class="backlinks-container">
    {% for link in backlinks %}
        <li class="backlink">
            <a href="{{link.url}}" class="backlink__link">{{link.title}}</a>
        </li>
    {% endfor %}
</ul>
{% endif %}
