<footer class="site-footer">
  <hr />
  {% include 'social-links.njk' %}

  <script src="https://the-claw-webring-widget.netlify.app/the-claw-webring-widget.mjs" type="module" defer></script>
  <details>
    <summary><small>The Claw Webring</small></summary>
    <the-claw-webring-widget style="margin: 0 auto; display: inline-block">
      <!-- start optional fallback content in the case of no JavaScript -->
      <div style="color: inherit; font-family: system-ui; padding: 1rem; font-size: 1rem">
        <div
          style="
            display: grid;
            gap: 0.5rem 1rem;
            align-items: center;
            margin-bottom: 1rem;
            justify-content: center;
            grid-template-areas: 'image title' 'image view';
          "
        >
          <img
            src="https://the-claw-webring.netlify.app/img/theclaw.png"
            alt="The Claw Webring"
            style="grid-area: image; height: 4rem; transform: rotate(-8deg)"
          />
          <h2 style="grid-area: title; font-size: 1.4rem; margin: 0">The Claw Webring</h2>
          <a href="https://github.com/whitep4nth3r/the-claw-webring" style="grid-area: view; margin: 0; color: inherit">
            View on GitHub
          </a>
        </div>
      </div>
      <!-- end optional fallback content in the case of no JavaScript -->
    </the-claw-webring-widget>
  </details>

  <p class="text-muted">
    <small>&copy; {{ site.buildTime | date('YYYY') }} Piet van Zoen</small>
  </p>
</footer>
