<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>{{ seo.title }}</title>
<style>{% include 'stylesheets/main.css' %}</style>

{%- for stylesheet in stylesheets %}
<style>{% include stylesheet %}</style>
{%- endfor %}

<link rel="alternate" type="application/atom+xml" href="/feed.xml" />
<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=NmEn8A8Wqa">
<link rel="icon" type="image/png" href="/images/favicon-32x32.png?v=NmEn8A8Wqa" sizes="32x32">
<link rel="icon" type="image/png" href="/images/favicon-16x16.png?v=NmEn8A8Wqa" sizes="16x16">
<link rel="manifest" href="/images/manifest.json?v=NmEn8A8Wqa">
<link rel="mask-icon" href="/images/safari-pinned-tab.svg?v=NmEn8A8Wqa" color="#5bbad5">
<link rel="shortcut icon" href="/images/favicon.ico?v=NmEn8A8Wqa">
<meta name="msapplication-config" content="/images/browserconfig.xml?v=NmEn8A8Wqa">
<meta name="theme-color" content="#ffffff">

<meta property="og:title" content="{{ seo.title }}" />
<meta property="og:description" content="{{ seo.description | default('') | markdown | striptags | trim }}" />
<meta name="description" content="{{ seo.description | default('') | markdown | striptags | trim }}" />
<meta property="og:type" content="{{ seo.type | default('website') }}" />
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:url" content="{{ pageAbsoluteUrl | url }}">
<link rel="canonical" href="{{ pageAbsoluteUrl | url }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@pietvanzoen" />

{%- if seo.image -%}
<meta property="og:image" content="{{ seo.image.url | url }}">
{%- if seo.image.width -%}<meta property="og:image:width" content="{{ seo.image.width }}" />{%- endif -%}
{%- if seo.image.height -%}<meta property="og:image:height" content="{{ seo.image.height }}" />{%- endif -%}
{%- endif %}

{% if noindex %}
<meta name="robots" content="noindex, nofollow">
{% endif %}

<link rel="webmention" href="https://webmention.io/{{ site.hostname }}/webmention" />
<link rel="pingback" href="https://webmention.io/{{ site.hostname }}/xmlrpc" />
<script defer data-domain="piet.me" src="https://plausible.piet.me/js/plausible.js"></script>
