
{% macro update(update) %}
<article class="update card buffer-md">
  <a href="{{ update.url | url }}">
    <time class="text-muted text-small" datetime="{{ update.data.date | date }}">{{ update.data.date | date('ddd, D MMM YYYY, HH:mm') }}</time>
  </a>
  <div>{{ update.templateContent | safe }}</div>
  <p class="text-muted"><small>Also on:
    {%- for link in update.data.alsoOn -%}
    {%- if loop.index != 1 -%}, {% endif -%}
    <a href="{{ link | url }}">{{ link | getHost }}</a>
    {%- endfor -%}
  </small></p>
</article>
{% endmacro %}
