
{% macro update(update) %}
<article class="update card buffer-md">
  {% set inReplyTo = update.data.in_reply_to %}
  {% if inReplyTo -%}
    {% set twitterHandle = inReplyTo | url | getTwitterUserFromURL %}
    <small><a href="{{ inReplyTo | url }}">Replying to {{ twitterHandle if twitterHandle !== '@pietvanzoen' else 'myself'}}</a></small>
  {%- endif %}
  <div>{{ update.templateContent | safe }}</div>
  {%- for link in update.templateContent | parseLinks -%}
    {% set data = link | getOpenGraphData %}
    {% if data %}
    <a class="card" href="{{ link | url }}">
      {% if data.ogImage and data.ogImage.url %}
      <img class="img-right img-rounded" style="max-width: 200px;" src="{{ data.ogImage.url | url }}" alt="{{ data.ogTitle }}" />
      {% endif %}
      <h3>{{ data.ogTitle }}</h3>
      <p>{{ data.ogDescription }}</p>
      <small class="text-muted">{{ link | getHost }}</small>
    </a>
    {% endif %}
  {%- endfor -%}
      <footer class="card-footer">
  {%- for link in update.data.alsoOn -%}
    {% if loop.first %}<div class="text-muted"><small>{% endif -%}
      {%- if loop.index != 1 -%}, {% endif -%}
        <a href="{{ link | url }}" title="Also on {{ link | getHost }}">{{ link | getHost }}</a>
    {%- if loop.last -%}</small></div>{%- endif -%}
  {%- endfor -%}
    <div class="text-right">
      <a href="{{ update.url | url }}">
        <time class="text-muted text-small" datetime="{{ update.data.date | date }}">{{ update.data.date | date('ddd, D MMM YYYY, HH:mm') }}</time>
      </a>
    </div>
      </footer>
</article>
{% endmacro %}
