<h3>Meta</h3>
<ul>
  <li hidden>
    Author: <a rel="author" class="p-author h-card" href="{{ site.url }}">Piet van Zoen</a>
  </li>
  <li>
    Published: <time class="dt-published" datetime="{{ page.date | date }}">{{ page.date | date('Do MMMM YYYY')}} </time>
  </li>
  {% if updated %}
  <li>
  Last updated: <time class="dt-updated" datetime="{{ updated | date }}">{{ updated | date('Do MMMM YYYY')}} </time>
  </li>
  {% endif %}
  <li>
    Permalink: <a class="u-url" href="{{ pageAbsoluteUrl }}">{{ pageAbsoluteUrl }}</a>
  </li>
  <li>
    Source: <a href="https://github.com/pietvanzoen/piet.me/tree/main/{{ page.inputPath }}">{{ page.inputPath }}</a>
  </li>
  {% if tags %}
  <li>
    Tags: {% for tag in tags %} {%- if loop.index0 -%}, {% endif %}<a class="p-category" href="/tags/{{ tag | slug}}">{{ tag }}</a>{% endfor -%}
  </li>
  {% endif %}
</ul>

{% if syndication %}
<h3>Syndication</h3>
  <ul class="unstyled">
    {% for link in syndication %}
    {% set data = link | url | getOpenGraphData %}
    {% if data %}
    <li class="buffer-sm">
    <a rel="syndication" class="u-syndication card" href="{{ link | url }}">
      {% if data.ogImage and data.ogImage.url %}
      <img class="img-right img-rounded" style="max-width: 200px;" src="{{ data.ogImage.url | url }}" alt="{{ data.ogTitle }}" />
      {% endif %}
      <h3>{{ data.ogTitle if data.ogTitle else link }}</h3>
      {% if data.ogDescription %}<p>{{ data.ogDescription }}</p>{% endif %}
      <small class="text-muted">{{ link | getHost }}</small>
    </a>
    </li>
    {% endif %}
    {% endfor -%}
  </ul>
</li>
{% endif %}
