<h3>Meta</h3>
<ul>
  <li hidden>
    Author: <a rel="author" href="{{ site.url }}">Piet van Zoen</a>
  </li>
  <li>
    Published: <time class="dt-published" datetime="{{ page.date | date }}">{{ page.date | date('Do MMMM YYYY')}} </time>
  </li>
  {% if updated %}
  <li>
  Last updated: <time class="dt-updated" datetime="{{ updated | date }}">{{ updated | date('Do MMMM YYYY')}} </time>
  </li>
  {% endif %}
  <li>
    Permalink: <a class="u-url" href="{{ pageAbsoluteUrl }}">{{ pageAbsoluteUrl }}</a>
  </li>
  <li>
    Source: <a href="https://github.com/pietvanzoen/piet.me/tree/main/{{ page.inputPath }}">{{ page.inputPath }}</a>
  </li>
  {% if tags %}
  <li>
    Tags: {% for tag in tags %} {%- if loop.index0 -%}, {% endif %}<a class="p-category" href="/tags/{{ tag | slug}}">{{ tag }}</a>{% endfor -%}
  </li>
  {% endif %}
</ul>
