---
layout: layout.njk
stylesheets:
 - /stylesheets/syntax.css

---

<h1 class="headline">{{ title }}</h1>
{% if unsplashImageId %}
<div class="text-muted text-small">
<time datetime="{{ page.date }}">{{ page.date | date('Do MMMM YYYY')}} </time>
</div>

<figure class="hero-image">
  <img src="{{ unsplashImageId | localizeUnsplash('1400x900') }}" alt="{{ imageAlt or title }}" />
</figure>
{% endif %}
{{ content | safe }}


<hr>
<p><em>Typos? Mistakes?  <a href="https://github.com/pietvanzoen/pietvanzoen.com/issues/new{% query body="**Page:** " + absoluteUrl, labels="bug" %}">Please submit an issue.</a></em></p>

<h2 id="comments">Comments</h2>

<script src="https://utteranc.es/client.js"
        repo="pietvanzoen/piet.me"
        issue-term="pathname"
        label="comments"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

<noscript>
  <div class="card">
    <strong>Sorry, comments require JavaScript</strong>
    <p><small>No JavaScript? Good for you! I strive to make the experience of this website great without JavaScript. But, I haven't found a good solution for comments on a static website without JavaScript. So, if you'd like to view or make comments please enable JavaScript.</small></p>
  </div>
  <br>
</noscript>
