<article class="update">
  <a href="{{ update.url | url }}">
    <time class="text-muted text-small" title="{{ update.data.date | date('Do MMM YYYY HH:mm') }}" datetime="{{ update.data.date | date }}">{{ update.data.date | dateRelative }}</time>
  </a>
  <div class="text-large">{{ update.templateContent | safe }}</div>

  {%- for link in update.alsoOn -%}

    {% if loop.first %}<p class="text-muted"><small>Also on: {% endif -%}
      {%- if loop.index != 1 -%}, {% endif -%}
        <a href="{{ link | url }}">{{ link | getHost }}</a>
    {%- if loop.last -%}</small></p>{%- endif -%}
  {%- endfor -%}
  </small></p>
</article>
