{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
{%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) -%}
{% if mentions | length %}
<div id="webmentions">
  <h3>Webmentions</h3>
  <ul>
    {%- for mention in mentions -%}
    {% set ogData = mention.url | url | getOpenGraphData %}
    <li><a href="{{ mention.url | url }}" target="_blank" rel="noopener noreferrer">{{ ogData.ogTitle | default(mention.url) }}</a></li>
    {%- endfor -%}
  </ul>
</div>
{% endif %}
