{%- set absoluteUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
{%- set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) -%}
{% if mentions | length %}
<div id="webmentions">
  <h3>Webmentions</h3>
  <ul>
    {%- for mention in mentions -%}
    {% set ogData = mention.url | url | getOpenGraphData %}
    <li>
    <a href="{{ mention.url | url }}" target="_blank" rel="noopener noreferrer">
    {% if ogData.ogTitle %}
    {{ ogData.ogTitle }} <small class="text-muted"> - {{ mention.url | getHost }}</small>
    {% else %}
    {{ mention.url | prettyUrl }}
    {% endif %}
    </a>
    </li>
    {%- endfor -%}
  </ul>
</div>
{% endif %}
