/* atkinson-hyperlegible-regular - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/atkinson-hyperlegible-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/atkinson-hyperlegible-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* atkinson-hyperlegible-italic - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/fonts/atkinson-hyperlegible-v10-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/atkinson-hyperlegible-v10-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* atkinson-hyperlegible-700 - latin */
@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/atkinson-hyperlegible-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/atkinson-hyperlegible-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  src: local('DM Mono Regular'), local('DMMono-Regular'),
       url('/fonts/dm-mono-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/dm-mono-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html, html.light-theme {
  --accent-color: #126180;
  --text-color: #373737;
  --subtle-color: #ccc;
  --muted-color: #888;
  --link-color: #1984AF;
  --link-underline-color: #D2EEF9;
  --offset-color: #fff;
  --background-color: #fbf7f8;

  --syntax-comment: #8e908c;
  --syntax-red: #c82829;
  --syntax-orange: #f5871f;
  --syntax-yellow: #eab700;
  --syntax-green: #718c00;
  --syntax-blue: #4271ae;
  --syntax-purple: #8959a8;
  --syntax-base: #4d4d4c;
  --syntax-background: #fff;
}

// @mixin dark-theme {
//   --accent-color: #387f7b;
//   --text-color: #fefefe;
//   --subtle-color: #444;
//   --muted-color: #999;
//   --link-color: #ba5255;
//   --offset-color: #1d1f21;
//   --background-color: #222;

//   --syntax-comment: #969896;
//   --syntax-red: #cc6666;
//   --syntax-orange: #de935f;
//   --syntax-yellow: #f0c674;
//   --syntax-green: #b5bd68;
//   --syntax-blue: #81a2be;
//   --syntax-purple: #b294bb;
//   --syntax-base: #c5c8c6;
//   --syntax-background: #1d1f21;
// }

// html.dark-theme {
//   @include dark-theme;
// }

// @media (prefers-color-scheme: dark) {
//   html {
//     @include dark-theme;
//   }
// }

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--background-color);
  transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color;
}

html,
button,
input,
select,
textarea,
html,
body {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  color: var(--text-color);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
a {
  hyphens: none;
}

pre {
  padding: 1em;
  overflow: scroll;
  border-radius: 0.5em;
  border: 1px solid var(--subtle-color);
  overflow: hidden;
}
pre, code {
  background-color: var(--offset-color);
}

code {
  padding: 0.1em 0.3em;
  border-radius: 0.2em;
}

code,
kbd,
pre,
samp {
  font-family: "DM Mono", monospace;
}

h1, h2 {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

body {
  margin: 1em auto;
  max-width: 680px;
  padding: 0 1em;
  box-sizing: content-box;
}

img {
  max-width: 100%;
  height: auto;
  background-color: var(--offset-color);
}

.text-center {
  text-align: center;
}

.text-small {
  font-size: 0.8em;
}
.text-large {
  font-size: 1.2em;
}
.text-muted,
.text-muted a {
  color: var(--muted-color);
}
.text-accent {
  color: var(--accent-color);
}
.text-right {
  text-align: right;
}
.text-lowercase {
  text-transform: lowercase;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  text-decoration-color: var(--link-underline-color);
  text-decoration-thickness: 3px;
}

a:hover {
  text-decoration-color: var(--accent-color);
}

ul.unstyled li {
  list-style: none;
}
ul.unstyled {
  padding: 0;
}

hr {
  border: none;
  position: relative;
  height: 1px;
  margin: 3em auto;
  width: 20%;
  clear: both;

  &,
  &:before,
  &:after {
    background: var(--subtle-color);
    border-radius: 1px;
  }

  &:before,
  &:after {
    content: "";
    left: 50%;
    position: absolute;
    transform: rotate(25deg) translateY(-50%);
    height: 0.7em;
    width: 1px;
  }
  &:before {
    margin-left: -0.3em;
  }
  &:after {
    margin-right: -0.3em;
  }
}

main {
  margin-bottom: 4em;
}

blockquote {
  position: relative;
  margin: 1em 0;
  padding: 0 1.5em;
  &:before {
    position: absolute;
    content: '';
    height: 100%;
    width: 1px;
    border-radius: 2px;
    left: 0;
    background: var(--subtle-color);
  }
}

figure {
  margin: 0;
}

.buffer-xs {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.buffer-sm {
  margin-top: 1em;
  margin-bottom: 1em;
}

.buffer-md {
  margin-top: 2em;
  margin-bottom: 2em;
}

.buffer-lg {
  margin-top: 4em;
  margin-bottom: 4em;
}

.bg-offset {
  background-color: var(--offset-color);
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}
