.site-header {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-content: center;
  > * {
    align-self: center;
    flex-grow: 1;
  }
}
.site-header, .site-header a {
  color: var(--accent-color);
}
.site-title a {
  display: flex;
  text-decoration: none;
  > * {
    align-self: center;
  }
}
.site-title img {
  width: 2em;
  height: 2em;
}
.site-title span {
  opacity: 0;
  padding-left: 0.5em;
  height: 1em;
  line-height: 1em;
  transition: all 0.1s ease-in-out;
}
.site-title a:hover span,
.site-title a:focus span {
  opacity: 1;
}

.site-menu {
  position: relative;
  text-align: right;
  nav li {
    list-style: none;
    display: inline-block;
    padding: 0 0 0 0.6em;
  }
  li[aria-current="page"] {
    color: var(--muted-color);
  }
  nav ol {
    padding: 0;
    margin: 0;
  }

}
.site-menu-sm {
  nav {
    position: absolute;
    right: 0;
    width: 100vw;
  }
  nav li {
    font-size: 0.8em;
  }

  summary {
    display: inline-block;
  }
}

.site-menu-lg {
  display: none;
}

@media (min-width: 30em) {
  .site-menu-sm {
    display: none;
  }
  .site-menu-lg {
    display: block;
  }
}

.site-footer {
  hr {
    width: 50%;
    margin-bottom: 3em;
  }
  margin-top: 2em;
  text-align: center;
}
