@import "normalize";
@import "base";
@import "header-footer";
@import "syntax";

.home {
  margin: 3em auto;
}
// .home ul {
//   padding: 0;
// }
// .home li {
//   list-style: none;
// }
.home-intro {
  font-size: 6vw;
}
@media (min-width: 45em) {
  .home-intro {
    font-size: 2.5em;
  }
}
.img-circle {
  border-radius: 50%;
}
.img-center {
  display: block;
  margin: auto;
}
.img-right {
  float: right;
  margin-left: 1em;
}
.img-rounded {
  border-radius: 0.2em;
}
.home-image {
  width: 30vw;
  min-width: 100px;
  max-width: 160px;
  margin: 0 auto;
  display: block;
}
.home-intro {
  text-align: center;
}
.home-intro span {
  display: inline-block;
  padding: 0 0.3em;
  background: var(--accent-color);
  color: white;
  border-radius: 0.2em;
  white-space: nowrap;
}

.headline {
  color: var(--accent-color);
}
// .home-intro span:first-child {
//   border-radius: 0.2em 0.2em 0.1em 0.1em;
// }
// .home-intro span:last-child {
//   border-radius: 0 0 0.2em 0.2em;
// }


.home h1,
.home menu {
  text-align: center;
}
.list-inline {
  padding: 0;
}
.list-inline li {
  display: inline-block;
  margin: 0 0.2em;
}

.icon-link svg {
  fill: var(--link-color);
}
.icon-link span {
  display: none;
}
.icon-link {
  display: inline-block;
  margin: 0.5em;
  line-height: 1;
}
.icon-link svg {
  height: 1em;
  width: auto;
  vertical-align: -webkit-baseline-middle;
}
.icon-link svg,
.icon-link a {
  vertical-align: baseline;
}
.icon-link:hover svg {
  fill: var(--accent-color);
}

.hero-image {
  position: relative;
  height: 64vw;
  max-height: 460px;
  box-sizing: content-box;
  background-color: var(--subtle-color);
  display: block;
  margin: 1em -1em;
  img {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
  }
}

.pagination {
  font-size: 0.8em;
  text-align: center;
  ol {
    list-style: none;
    padding: 0;
  }
  li {
    display: inline-block;
  }
  a {
    display: inline-block;
    padding: 0.2em;
  }
  a[aria-current="page"] {
    color: var(--text-color);
  }
}

.screen-reader-text {
  position: absolute!important;
  clip: rect(1px,1px,1px,1px);
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.card,
.twitter-tweet:not(.twitter-tweet-rendered) {
  overflow: auto;
  display: block;
  border: 1px solid var(--subtle-color);
  border-radius: 0.2em;
  padding: 1em;
}
.twitter-tweet:not(.twitter-tweet-rendered):before {
  display: none;
}

a.card {
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  text-decoration: none;
  color: var(--text-color);
}

a.card:hover {
  background: var(--offset-color);
  border-color: var(--accent-color);
}

.update {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
