<!DOCTYPE html>
<html>
  <head>
    {%- include "head.njk" -%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ seo.title }}</title>
    <link rel="stylesheet" href="{{ '/stylesheets/main.css' | cacheBust | url }}">
    {%- for stylesheet in stylesheets %}
    <link rel="stylesheet" href="{{ stylesheet | url }}">
    {%- endfor %}

    <script defer data-domain="piet.me" src="https://plausible.piet.me/js/plausible.js"></script>
  </head>
  <body class="{{ bodyClass }}">
    {{ content | safe }}

    <script>
      (function (f, a, t, h, o, m) {
        a[h] =
          a[h] ||
          function () {
            (a[h].q = a[h].q || []).push(arguments);
          };
        (o = f.createElement("script")),
          (m = f.getElementsByTagName("script")[0]);
        o.async = 1;
        o.src = t;
        o.id = "fathom-script";
        m.parentNode.insertBefore(o, m);
      })(document, window, "//fathom.piet.me/tracker.js", "fathom");
      if (location.hostname === "{{ site.hostname }}") {
        fathom("set", "siteId", "DGYKJ");
        fathom("trackPageview");
      }
    </script>
  </body>
</html>
