<!DOCTYPE html>

<!--[if lte IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		{% if page.title %}
		<title>{{ page.title }} :: {{ site.name }}</title>
		{% else %}
		<title>{{ site.main_title }}</title>
		{% endif %}

		{% capture header %}

		{% if page.title %}
		<meta property="og:type" content="article" />
		<meta property="og:title" content="{{ page.title }} :: {{ site.name }}" />
		<meta property="og:description" content="{{ page.excerpt | strip_html }}" />
		<meta name="description" content="{{ page.excerpt | strip_html }}" />

		{% for tag in page.tags %}
		<meta property="article:tag" content="{{ tag }}">
		{% endfor %}

		{% else %}
		<meta property="og:type" content="website" />
		<meta property="og:description" content="{{site.description}}" />
		<meta name="description" content="{{site.description}}" />
		{% endif %}

		{% include meta.html property="og:site_name" content=site.title %}
		{% include meta.html property="og:image" content=page.thumbnail %}

		{% capture page_url %}{{ page.url | replace:'/index.html','/' | prepend: site.url | prepend: site.baseurl }}{% endcapture %}
		{% include meta.html property="og:url" content=page_url %}

		{% if page.date %}
			{% capture page_date %}{{page.date | date_to_xmlschema }}{% endcapture %}
			{% include meta.html property="article:published_time" content=page_date %}
		{% endif %}

		{% endcapture %}{{ header | strip_newlines }}

		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
		<meta name="viewport" content="width=device-width">

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700,400italic' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="/assets/css/main.css">
		{% if page.css %}
		<link rel="stylesheet" href="/assets/css/{{page.css}}.css">
		{% endif %}

	</head>
	<body class="{{page.body_class}} {% if page.title %}page_{{ page.title | downcase }}{% endif %}">
		<header>
			<p>Portland based dutch/englishman<br> and web developer at <a href="http://cozy.co" target="_blank">Cozy</a>.</p>
			<h1>
				<div class="arcify">
					<span class="arc no0 left half" style="-webkit-animation-duration: 4s; -moz-animation-duration: 4s; animation-duration: 4s"></span>
					<span class="arc no1 left half" style="-webkit-animation-duration: 7s; -moz-animation-duration: 7s; animation-duration: 7s"></span>
					<span class="arc no2 left " style="-webkit-animation-duration: 4s; -moz-animation-duration: 4s; animation-duration: 4s"></span>
					<span class="arc no3 right " style="-webkit-animation-duration: 6s; -moz-animation-duration: 6s; animation-duration: 6s"></span>
				</div>
				<a href="/">pietvanzoen</a>
			</h1>

			<nav>
				<a {% if page.url contains 'blog' %}class="active"{% endif %} href="/blog">Blog</a>
			</nav>
		</header>

		<main>
			{{ content }}
		</main>


		<div class="clearfix"></div>
		<footer>
			<nav>
				<a href="http://twitter.com/pietvanzoen" rel="nofollow">Twitter</a>
				<a href="https://github.com/pietvanzoen" rel="nofollow">Github</a>
				<a href="https://open.spotify.com/user/pietvanzoen" rel="nofollow">Spotify</a>
				<a href="http://www.linkedin.com/in/pietvanzoen" rel="nofollow">LinkedIn</a>
				<a href="mailto:hi@pietvanzoen.com" rel="nofollow">Email</a>
			</nav>
			<p><small>Built with <a href="http://jekyllrb.com">Jekyll</a>. Hosted by <a href="http://pages.github.com">Github</a>.</small></p>
		</footer>

		<script>
			var _gaq=[['_setAccount','UA-23075199-1'],['_trackPageview']];
			(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
			g.src='//www.google-analytics.com/ga.js';
			s.parentNode.insertBefore(g,s)}(document,'script'));
		</script>
	</body>
</html>
