---
layout: base.njk
---
<a class="screen-reader-text" href="#maincontent">Skip to main content</a>
<header class="site-header">
  <div class="site-title">
    <a href="/">
      <img class="img-circle" src="/images/piet-2020.jpg" alt="Piet van Zoen" />
      <span>Back to homepage</span>
    </a>
  </div>
  <div class="site-menu site-menu-lg">
    <menu class="site-menu-list">
      {%- include "menu.njk" -%}
    </menu>
  </div>
  <details class="site-menu site-menu-sm">
    <summary>Menu</summary>
      {%- include "menu.njk" -%}
  </details>
</header>


<main id="maincontent">
  {{ content | safe }}
</main>

<footer class="site-footer">
  <hr>
  {% include 'social-links.njk' %}
  <p><small>&copy; {{ site.buildTime | date('YYYY') }} Piet van Zoen</small></p>
</footer>
