---
layout: base.njk
---

<a class="screen-reader-text" href="#maincontent">Skip to main content</a>
<header class="site-header">
  <div class="site-title">
    <a href="/">
      <picture  class="img-circle">
       <source type="image/webp" srcset="/images/avatar-4-2022-400.webp">
       <source type="image/jpeg" srcset="/images/avatar-4-2022-400.jpg">
       <img src="/images/avatar-400.jpg" alt="Piet van Zoen">
      </picture>
      <span>Back to homepage</span>
    </a>
  </div>
  <div class="site-menu site-menu-lg">
    {%- include "menu.njk" -%}
  </div>
  <details class="site-menu site-menu-sm">
    <summary>Menu</summary>
      {%- include "menu.njk" -%}
  </details>
</header>

<main role="main" id="maincontent">
  {{ content | safe }}
</main>

{% include 'footer.njk' %}
