---
layout: layout.njk

---

<article>
  <h1 class="headline">{{ title }}</h1>
  {% if unsplashImageId %}
  {%- HeroImage "https://source.unsplash.com/" + unsplashImageId + "/1400x900?fm=jpg", imageAlt or title -%}
  {% endif %}
  {% if wip %}
  <div class="card bg-offset">
    <strong> Work in progress</strong>
    <p>This page is particularly fresh and actively being worked on. Please be kind.</p>
  </div>
  {% endif %}
  {{ content | safe }}
</article>
<hr>

{% include "meta.njk" %}

{% include "backlinks.njk" %}

{% include "webmentionlist.njk" %}

{% include "comments.njk" %}
