---
layout: layout.njk

---

<article>
  <h1 class="headline">{{ title }}</h1>
  {% if unsplashImageId %}
  {%- HeroImage "https://source.unsplash.com/" + unsplashImageId + "/1400x900?fm=jpg", imageAlt or title -%}
  {% endif %}
  {{ content | safe }}
</article>
<br>

<ul class="text-muted text-small">
  <li>
    Last Updated: <time datetime="{{ page.date }}">{{ page.date | date('Do MMMM YYYY')}} </time>
  </li>
  {% if created %}
  <li>
  Created: <time datetime="{{ page.created }}">{{ page.created | date('Do MMMM YYYY')}} </time>
  </li>
  {% endif %}
  <li>
    Source: <a href="https://github.com/pietvanzoen/piet.me/tree/main/{{ page.inputPath }}">{{ page.inputPath }}</a>
  </li>
</ul>

<hr>


{% include "backlinks.njk" %}

{% include "webmentionlist.njk" %}

{% include "comments.njk" %}
