---
layout: layout.njk
stylesheets:
- /stylesheets/syntax.css

---

<article>
  <h1 class="headline">{{ title }}</h1>
  {% if unsplashImageId %}
  <div class="text-muted text-small">
    <time datetime="{{ page.date }}">{{ page.date | date('Do MMMM YYYY')}} </time>
  </div>

  <figure class="hero-image">
    <img src="https://source.unsplash.com/{{unsplashImageId}}/1400x900?fm=jpg" alt="{{ imageAlt or title }}" />
  </figure>
  {% endif %}
  {{ content | safe }}
</article>

<hr>
<p><em>Typos? Mistakes?  <a href="https://github.com/pietvanzoen/pietvanzoen.com/issues/new{% query body="**Page:** " + absoluteUrl, labels="bug" %}">Please submit an issue.</a></em></p>

<h2 id="comments">Comments</h2>

{% include "comments.njk" %}
