---
layout: layout.njk

---

<article>
  <header>
    <h2 class="headline">{{ date | date('Do MMM YYYY HH:mm') }}</h2>
  </header>

  <div class="text-large">{{ content | safe }}</a>

  {%- for link in content | parseLinks -%}
  {% set data = link | url | getOpenGraphData %}
  {% if data %}
  <a class="card" href="{{ link | url }}">
    {% if data.ogImage and data.ogImage.url %}
    <img class="img-right img-rounded" style="max-width: 200px;" src="{{ data.ogImage.url | url }}" alt="{{ data.ogTitle }}" />
    {% endif %}
    <h3>{{ data.ogTitle }}</h3>
    <p>{{ data.ogDescription }}</p>
    <small class="text-muted">{{ link | getHost }}</small>
  </a>
  {% endif %}
  {%- endfor -%}
</article>

<hr class="buffer-lg">

{% include "comments.njk" %}
