<%
img_width ||= 180
text_class ||= ""
%>

<section class="blurb">
  <div class="blurb-img"><img src="/images/136066_5zXRMtVF.png" class="img-circle" alt="pietvanzoen" style="min-width: <%= img_width * 0.667 %>px; max-width: <%= img_width %>px"></div>
  <p class="<%= text_class %>"><strong>Hi, I'm Piet.</strong> I build things for the web. I'm a big fan of test driven development, all things command-line, and fries with mayo.</p>
</section>
