<% img_width ||= 180 %>
<img src="/images/piet_sqr.jpg" class="img-right img-circle" alt="pietvanzoen" style="min-width: <%= img_width * 0.667 %>px; width: 20vw; max-width: <%= img_width %>px">
<p>Anglo/dutch software engineer at <a href="https://usabilla.com">Usabilla</a>. Previously at <a href="https://cozy.co">Cozy</a> and <a href="http://thedaylightstudio.com/">Daylight Studio.</a> I'm addicted to functional-programming, test driven development, my greyhound Django, my wife <a href="https://girlkeven.com/">Keven</a>, and fries with mayo.</p>
