---
title: Healthcheck
description: Nothing to see here.
noindex: true

---
<section class="center">
  <h2>Nothing to see here.</h2>
  <img src="/images/nothing-to-see.gif" alt="Nothing to see"/>
</section>
